.card {
  width: 100%;
  min-width: 200px;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__heading {
    width: 100%;
    font-family: Merriweather, georgia, serif;
    font-size: 1rem;
    margin: auto;
  }

  &__content {
    padding: 15px;
    flex-direction: column;
    align-content: center;
  }

  &__text {
    margin: auto;
  }

  &__img {
    width: 80%;
    min-width: 200px;
    max-width: 100%;
    border-radius: 50%;
    // margin: $gutter/2;
  }

}
