@import 'scss/variables';

footer {
  display: flex;
  padding: $gutter;
  margin-top: 2 * $gutter;
  font-family: $mfont;
  color: #fff;
  flex-direction: column;
  background-color: #262626;
  @media (max-width: 600px) {
    font-size: 14px;
    text-align: center;
  }
  @media (max-width: 400px) {
    font-size: 12px;
  }

  div {
    display: flex;
    margin: 0 auto;
    flex-direction: row;

    .column {
      display: flex;
      padding: 0 (4 * $gutter);
      flex-direction: column;
      align-content: flex-start;
      align-items: center;
      @media (max-width: 600px) {
        padding: 0 2*$gutter;
      }
      @media (max-width: 400px) {
        padding: 0 $gutter;
      }
    }
  }

  .footnote {
    padding-top: $gutter;
    margin-top: 2 * $gutter;
    color: #908e8a;
    text-align: center;
    border-top: 1px solid #908e8a;
  }
}
