form {

  div .cell {


    input[type=text] {
      width: 100%;
    }

    p {
    }

    div:not(.inline-cell) {
      display: inline-block;

    }

    select:not(.date) {
      width: 100%;
    }
    
    .inline-cell {
      display: flex;
      justify-content: space-between;
      
      select {
        min-width: 30%;
      }
    }
  }

}
