@import "scss/variables";

form {
  margin-bottom: 4 * $gutter;

  h3 {
    margin-bottom: $gutter;
    font-family: $hfont;
    font-weight: normal;
  }

  div .cell {
    margin-bottom: $gutter;

    input[type=text] {
      width: 100%;
    }

    input[type=radio], input[type=checkbox] {
      margin-top: $gutter / 2;
      margin-right: 1rem;
      margin-bottom: $gutter / 2;
    }

    input {
      font: inherit;
      border-radius: 4px;
    }

    p {
      line-height: 1;
    }

    div:not(.inline-cell) {
      display: inline-block;
    }

    select:not(.date) {
      width: 100%;
      font: inherit;
    }

    .inline-cell {
      display: flex;
      justify-content: space-between;

      select {
        width: 30%;
        font: inherit;
      }
    }
  }

  input[type=submit] {
    width: 100%;
    min-width: 250px;
    padding: 0.5rem 0;
    font-size: 1rem;
    border-width: 0;
    border-radius: 2px;
  }

}
