header {
    max-width: $max-width;
    width: 100%;
    height:800px;
    background: transparent url(/resources/bg.jpg) fixed 50% 50%;
    background-size: cover;
    display: flex;
    
    flex-direction: column;
    margin-bottom: 2em;
    align-items: center;

    @keyframes birtast {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    & .content {
        margin: auto;
        transition: opacity=0 1s ease-in;               
        align-items: center;
        h1 {  
            font-size: 5em;
            text-align: center;
            // animation-name: birtast;
            // animation-duration: 3s;
            // animation-delay: 5s;
            transition-delay: 1s;  
        opacity: 1;        
        }
        h2 {
            text-align: center;
            font-size: 2em;  
            transition-delay: 2s;      
            
        }
    }

    & .navbar {
        overflow: hidden;
        background-color: #000;
        opacity: 0.8;
        position: fixed;
        top: 0;
        max-width: $max-width;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .navbar a {
        float: left;
        display: flex;
        color: #f2f2f2;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
    // .navbar a {
    //     float: right;
    //     display: flex;
    //     color: #f2f2f2;
    //     text-align: center;
    //     padding: 14px;
    //     text-decoration: none;
    // }
}