@import "scss/variables";

.heading {
  width: 100%;
  padding: 0;
  margin: $gutter 0;
  font-family: $hfont;
  font-size: 2rem;

  &--one {
    font-size: 3rem;
    word-break: break-all;

    &--front {
      padding-bottom: 2 * $gutter;
      font-size: 4rem;
    }
  }

  &--two {
    font-size: 2rem;
  }

  &--three {
    font-size: 1rem;
  }

  &--bold {
    font-weight: bold;
  }

  &--italic {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
  }
}
