@import "scss/variables";

header {
  width: 100%;
  margin-bottom: 2em;
  align-items: center;

  .navbar {
    position: fixed;
    top: 0; // max-width: $max-width;
    display: flex;
    width: 100%;
    padding: $gutter/2 $gutter;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);

    a {
      color: #fff;
      text-align: center;
      text-decoration: none;
    }
  }

  .item--left {
    font-family: $hfont;
    font-size: 1.5em;
    font-weight: bold;
  }

  .item--right {
    padding: 0.5em 1em;
  }

  .button--header {
    background-color: #817a7a;
    border-radius: 4px;
  }
}
