@import 'scss/variables';

header {
  // max-width: $max-width;
  width: 100%;
  display: flex;
  margin: 0; // flex-direction: column;
  margin-bottom: 2em;
  align-items: center;
  & .navbar {
    overflow: hidden;
    background-color: #000;
    opacity: 0.8;
    position: fixed;
    top: 0; 
    // max-width: $max-width;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    margin: $gutter/2;
    padding: 1em;
    text-decoration: none;
    right:0;
  }
  .home--button {
    font-family: $hfont;
    left: 0;
  }
  .button--header {
    background-color: #817A7A; 
    border-radius: 4px;
  }
}