@import 'scss/variables';

.heading {
    font-family: $hfont;
    font-size: 2rem;
    padding: 0;
    width: 100%;
    margin: $gutter 0 ;
    &--one {
    word-break: break-all;
    font-size: 3rem;
    &--front{
    font-size: 4rem;
    padding-bottom: 2 * $gutter;
    
    }
    }
    &--two {
        font-size: 2rem;
    }
    &--three {
        font-size: 1rem;
    }
    &--bold {
        font-weight: bold;
    }
    &--italic {
        font-style: italic;
        font-weight: bold;
        font-size: 1.5rem;
    }
}

