@import 'scss/variables';

.text {
  padding-bottom: $gutter;
  margin-bottom: $gutter;

  &__p {
    margin-top: $gutter;
    margin-bottom: $gutter;
  }

  .quote {
    float: right; // padding: $gutter;
    margin: 0 $gutter/2;
    font-size: 1.5em;
    font-style: italic;

    .content {
      padding: $gutter;
    }
  }

  .footnote {
    margin: $gutter 0;
    font-size: 14px;
    font-style: normal;
  }
}

article {
  @media (max-width: 600px) {
    margin: 0 $gutter;
  }
}
