@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 58px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-11 {
    width: 91.66667%; }
  .col-10 {
    width: 83.33333%; }
  .col-9 {
    width: 75%; }
  .col-8 {
    width: 66.66667%; }
  .col-7 {
    width: 58.33333%; }
  .col-6 {
    width: 50%; }
  .col-5 {
    width: 41.66667%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  .col-2 {
    width: 16.66667%; }
  .col-1 {
    width: 8.33333%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-11 {
      width: 91.66667%; }
    .col-sm-10 {
      width: 83.33333%; }
    .col-sm-9 {
      width: 75%; }
    .col-sm-8 {
      width: 66.66667%; }
    .col-sm-7 {
      width: 58.33333%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-5 {
      width: 41.66667%; }
    .col-sm-4 {
      width: 33.33333%; }
    .col-sm-3 {
      width: 25%; }
    .col-sm-2 {
      width: 16.66667%; }
    .col-sm-1 {
      width: 8.33333%; } }

header {
  width: 100%;
<<<<<<< HEAD
  height: 600;
=======
  height: 900px;
>>>>>>> 3d1b7085a903261b24d124530e4243a732c37897
  background: transparent url(/resources/bg.jpg) fixed 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  align-items: center; }
  header div {
    margin: auto; }
  header div h1 {
    font-size: 4em; }
  header div h3 {
    text-align: center;
    font-size: 2em; }

.button {
  display: inline-block;
  width: 100%;
  max-width: 150px;
  padding: 10px 5px;
  margin: 0;
  overflow: hidden;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 2rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 2px;
  transition: background-color 500ms; }
  .button:hover {
    color: #eee;
    background-color: #333; }
  .button--inverted {
    color: #666;
    background-color: #eee; }
  .button--inverted:hover {
    color: #333;
    background-color: #ccc; }
  .button--disabled, .button--disabled:hover {
    color: #999;
    background-color: #eee;
    border-color: #eee; }
